*{
    margin: 0;
    padding: 0;
    background-color:darkgray;
}

.calc {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(100px, auto) repeat(5, 80px);
    background-color: black;
    border: 10px solid rgba(47,47,47,1);
    border-radius: 3%;
    gap: 2px;
}

.display {
    grid-column: 1 / -1;
    background-color: #a3a3a3;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    font-size: 5.5em;
    font-family: 'Lucida Console', Monaco, monospace;
    padding: 5px;
    margin: 5px;
}

#zero {
    grid-column: span 2;
}

button {
    border-radius: 5%;
    font-size: 2em;
    font-family: monospace;
    color: black;
    border: none;
    margin: 1px;
}

.operand, .decimal {
    background-color: #0f766e;
}
.operand:active, .decimal:active {
    background-color: #4fb6b0;
}

.operator, .equals {
    background-color: #d97706;
}
.operator:active, .equals:active {
    background-color: #f2b04a;
}

.clear, .sign, .percent {
    background-color: #0ea5e9;
}
.clear:active, .sign:active, .percent:active {
    background-color: #4fcfff;
}


